<template>
    <div class="app-component">
        {{ upperCaseMessage }}
        <br>
        <button v-on:click="click()">Click</button>

        <hr>

        <p v-if="isShow == true">Text 1</p>
        <p v-else>Text 2</p>

        <button @click="changeIsShow">Show/Hide</button>
    </div>
</template>

<script>
    export default {
        data: function() {
          return {
              message: 'This text message',
              isShow: true
          }
        },
        mounted: function() {
            console.log('Component mounted.')
        },
        methods: {
            click() {
                this.message = 'change message';
            },
            changeIsShow() {
                this.isShow = !this.isShow;
            }
        },
        computed: {
            upperCaseMessage() {
                return this.message.toUpperCase();
            }
        },
        watch: {
            upperCaseMessage() {
                console.log('message change');
            }
        }
    }
</script>
