<template>
    <div class="list-render-component">
        <user-component></user-component>
        <user-detail-component></user-detail-component>
    </div>
</template>

<script>
    import UserComponent from "./UserComponent";
    import UserDetailComponent from "./UserDetailComponent";
    import axios from 'axios';
    export default {
        data: function() {
            return {
                users: null
            }
        },
        components: {
            UserDetailComponent,
            UserComponent
        },
        mounted: async function() {
            await this.getListUser();
        },
        methods: {
            getListUser() {
                axios.get('https://5d15dc60df4e5f00145ca85d.mockapi.io', {
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Content-type': 'application/json',
                    }
                })
                .then(response => function () {

                    console.log(response);
                    this.users = response;
                })
            }
        },
        computed: {
        },
    }
</script>
