<template>
    <div class="user-detail-component">

    </div>
</template>

<script>
    export default {
        data: function() {
            return {
            }
        },
        components: {

        },
        mounted: function() {
            console.log('Component mounted.')
        },
        methods: {
        },
        computed: {
        },
    }
</script>
